.media-controls > * {
    padding: 2%;
}

.climate-controls{
    font-size: 20px;
    padding: 5px;
}

.climate-fire {
    padding: 10px;
}

.ant-btn-round.ant-btn-lg {
    height: 120px;
    margin: 5px;
}

.ant-btn-icon-only.ant-btn-lg > * {
    font-size: 80px;
}
